/Makefile
/Makefile.in
/autom4te.cache/
/config.h
/config.log
/config.status
/configure
/doc/Makefile
/doc/Makefile.in
/doc/ja_JP/Makefile
/doc/ja_JP/Makefile.in
/doc/xwinwm.1
/nls/C/Makefile
/nls/C/Makefile.in
/nls/Makefile
/nls/Makefile.in
/src/*.o
/src/Makefile
/src/Makefile.in
/src/xwinwm.exe
/stamp-h1
/version.h
